*
!pom.xml
!README.md
!CREDITS.txt
!COPYING.txt
!.gitignore
!IDEA-Code-Style.xml

!uslx
!uslx/
!uslx/src
!uslx/src/
!uslx/src/**

!media
!media/
!media/src
!media/src/
!media/src/**

!common
!common/
!common/src
!common/src/
!common/src/**

!javase
!javase/
!javase/src
!javase/src/
!javase/src/**

!android
!android/res
!android/res/drawable
!android/res/drawable/hi.txt
!android/res/values
!android/res/values/**
!android/src
!android/src/**
!android/*.lua
!android/*.sh

!example-toolchains.xml

!unzip-desktop-jars.sh
!copy-desktop-sources.sh

