*
!pom.xml
!README.md
!CREDITS.txt
!COPYING.txt
!.gitignore
!IDEA-Code-Style.xml

!ready.sh

!uslx
!uslx/
!uslx/src
!uslx/src/
!uslx/src/**

!media
!media/
!media/src
!media/src/
!media/src/**

!common
!common/
!common/src
!common/src/
!common/src/**

!datum
!datum/
!datum/specification.md
!datum/src
!datum/src/
!datum/src/**

!javase
!javase/
!javase/src
!javase/src/
!javase/src/**

!android
!android/res
!android/res/drawable
!android/res/drawable/hi.txt
!android/res/values
!android/res/values/styles.xml
!android/src
!android/src/**
!android/*.lua
!android/*.sh

!natives
!natives/
!natives/gencall.lua
!natives/README.md
!natives/c
!natives/c/
!natives/c/badgpu
!natives/c/badgpu/
!natives/c/badgpu/specify.lua
!natives/c/badgpu/badgpu.h
!natives/c/badgpu/badgpu_internal.h
!natives/c/badgpu/badgpu.c
!natives/c/badgpu/badgpu_tce.c
!natives/c/badgpu/badgpu_dl.c
!natives/c/badgpu/badgpu_wsi_egl.c
!natives/c/badgpu/badgpu_wsi_wgl.c
!natives/c/badgpu/badgpu_wsi_cgl.c
!natives/c/badgpu/badgputest.c
!natives/c/badgpu/badgputest_tce.c
!natives/c/badgpu/make-bgt
!natives/c/badgpu_jni.c
!natives/c/loader_jni.c
!natives/c/una.h
!natives/sdk-make
!natives/sdk-clean
!natives/sdk-install

!natives-util
!natives-util/
!natives-util/src
!natives-util/src/
!natives-util/src/**
!natives-util/SmokeTest.java
!natives-util/examples
!natives-util/examples/
!natives-util/examples/src
!natives-util/examples/src/**

!example-toolchains.xml

!unzip-desktop-jars.sh
!copy-desktop-sources.sh

