*
!pom.xml
!README.md
!CREDITS.txt
!COPYING.txt
!.gitignore
!IDEA-Code-Style.xml

!uslx
!uslx/
!uslx/src
!uslx/src/
!uslx/src/**

!media
!media/
!media/src
!media/src/
!media/src/**

!common
!common/
!common/src
!common/src/
!common/src/**

!datum
!datum/
!datum/specification.md
!datum/src
!datum/src/
!datum/src/**

!javase
!javase/
!javase/src
!javase/src/
!javase/src/**

!android
!android/res
!android/res/drawable
!android/res/drawable/hi.txt
!android/res/values
!android/res/values/styles.xml
!android/src
!android/src/**
!android/*.lua
!android/*.sh

!una
!una/
!una/gencall.lua
!una/libvariant.lua
!una/README.md
!una/c
!una/c/
!una/c/una.c
!una/c/una.h
!una/c/unajni.c
!una/c/unapoke.c
!una/c/unalibc.c
!una/c/jnifns.c
!una/src
!una/src/**
!una/sdk-make
!una/sdk-make-java
!una/sdk-clean
!una/pom.xml

!example-toolchains.xml

!unzip-desktop-jars.sh
!copy-desktop-sources.sh

